/* Variables
====================================================================== */
:root {
  --background-color: #fafafa;
  --text-color-primary: #111;
}

/* Resets
====================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}



/* Global
====================================================================== */
.container {
  margin: auto;
}

.primary-text {
  color: cyan;
}



/* Navbar
====================================================================== */



/* Showcase
====================================================================== */



/* Features
====================================================================== */



/* Info
====================================================================== */